@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    /* margen externo */
    margin:0;
    /* margen interno */
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Crar vaiables CSS*/
:root{
    --primary-color:#272ae7;
    --secondary-color:#ff057a;
    --titulos:40px;
    --parrafos:20px;

}

html{
    scroll-behavior: smooth;
}


header{
    width: 100%;
    /* vh = viewport height (altura de la pantalla)*/
    height: 100vh;
    position: relative;
    /* para salir de una carpeta en cuañlquier lenguaje = ../ */
    background: url("../imagenes/AdobeStock.png");
    /* cover = que cubra todo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* display: flex; = propiedad aplicada al contenedor padre para que los elementos esten los unos al lado de los otros */

header nav{
    width: 70%;
    background-color: transparent;
    /* centrar el objeto */
    margin: 0 auto;
    display: flex;
    /* alinear de manera horizontal */
    justify-content: space-between ;
    /* alinear de manera vertical */
    align-items: center;
    padding-top: 30px;
}

/* las clases se llaman con .
    los id se llaman con #
*/
header nav .logo-juegos      {
    transition: .5s;
}

header nav .logo-juegos:hover{
    transform: scale(0.9);
}

header nav .menu{
    display: flex;

}

/* por norma tecnica deben de haber solo 3 selectores */
nav .menu li{
    margin: 0 20px;
    list-style: none;
}

.menu li a{
    color:#f7caca;
    font-size: var(--parrafos);
    text-decoration: none;
    padding: 10px 15px;
    transition: .5s;

}


.menu li a:hover{
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

header #hero{
    width: 50%;
    min-width: 650px;
    text-align: center ;
    margin: 200px auto;
}

header #hero imagenes{
    transition: .10s;
    cursor: progress;
}

header #hero imagenes:hover{
    transform: rotate(100deg);
}


header #hero h1{
    color: var(--primary-color);
    font-size: var(--titulos);

}

header #hero p{
    color: #fff;
    font-size: 30px;
    
}

header #hero button{
    margin-top: 90px;
    background: var(--primary-color);
    padding: 10px;
    font-size: 30px;
    color: #999;
    border-color: transparent;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

header #hero button:hover{
    border-color: #000a42;

}

main{
    width: 100%;
    position: relative;

}

#jue-tend{
    width: 100%;
    text-align: center;
    padding: 180px 0;
    background: #fff;

}

#jue-tend h2{
    font-size: var(--titulos);
    font-weight: 700;
    margin-bottom: 88px;
    text-align: center;
}

#jue-tend p{
    font-size: var(--parrafos);
    color: #000;   
}

#jue-tend .fila{
    width: 70%;
    min-width: 1000px;
    display: flex;
    margin: 60px auto;
    justify-content: space-around;

}
#jue-tend .fila .jue-tend{
    position: relative;
}

.fila .jue-tend h3{
    text-transform:uppercase;
    color: var(--primary-color);
    font-size: 25px;
    position:static;
    top: 2px;
    width: 100%;
    text-align:center;
    z-index: 8;
}

.fila .jue-tend img{
    transition: .1s;
}

.fila .jue-tend img:hover{
    border-radius: 20%;
}
#Juegos{
    width: 100%;
    text-align:center;
    padding: 100px 0 80px;
    background: url("../imagenes/Juegos");
    background-size:cover;}


#Articulos-recomendados{
    width: 100%;
    text-align:center;
    padding: 120px 0 40px;
    background: url("../imagenes/ recomendados.png");
    background-size: cover;
}

#Articulos-recomendados h2{
    font-size: var(--titulos);
    color: var(--primary-color);
    margin-bottom: 50px;
    font-weight: 60;

}

#Articulos-recomendados .fila{
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 100px auto;
}

.fila .jue-articulos{
    width: 100%;
    text-align:center;
}


.fila .jue-articulos h3{
    color: #002daa;
    font-size: 30px;
    text-transform: uppercase;
}

#contacto{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 85px 0 50px;
    background: url("../imagenes/6865561\ 1.png")
    var(--primary-color);
}

#contacto h2{
    font-size: var(--titulos);
    margin-bottom: 60px;
}

#contacto p {
    font-size: var(--parrafos);
    margin-bottom: 40px;
}

#contacto form{
    width: 50%;
    margin: 0 auto;
}

#contacto form .fila {
    display: flex;
}

form .fila input{
    width: 50%;
    padding: 8px 12px;
    font-size: var(--parrafos);
    margin: 10px 20px;
}

form .fila select{
    width: 46%;
    padding: 8px 12px;
    font-size: var(--parrafos);
    margin: 10px 20px;
}

form button{
    background: #8bd3f5c2;
    color:#003131;
    margin-top: 40px;
    padding: 9px 9px;
    font-size: 15px;
    border-radius: 4px;
    border: transparent;
}

footer{
    background: #050b0f;
    text-align: center;
    padding: 30px;
    color: #f1e8e8;
    font-size: 16px;
}